@import "font-awesome";

@font-face {
  font-family: 'ProximaNova';
  font-style:  normal;
  font-weight: 400;
  src: url('fonts/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/ProximaNova-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}