//
// Variables
// --------------------------------------------------


//== Colors
$tr: transparent;
$dark: #1c293b;
$white: #ffffff;
$white-three: #eeeeee;
$white-five: #fafafa;
$white-two: #e0e0e0;
$green: #75ce96;
$warm-grey: #9e9e9e;
$brownish-grey: #616161;
$pinkish-grey: #bdbdbd;
$steel-blue: #5b779e;

//== Sizes
$header-height: 60px;
$wrap-padding: 20px;

$user-prev: 40px;

$page-title: 50px;
$page-title-border: 1px;

$sidebar-width: 260px;
$sidebar-view: 620px;
$steps-item: 16px;
$steps-item-border: 2px;

$percent-plan: 71;
$circular-progress: 100px;